{% extends 'admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="callout callout-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% if is_granted('ROLE_ADMIN') %}
<div class="row">
  <div class="col">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{projects|length}}</h3>

        <p>Projets présentés</p>
      </div>
      <div class="icon">
        <i class="fa fa-lightbulb"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ views }}</h3>

        <p>Nombre vues totales</p>
      </div>
      <div class="icon">
        <i class="fa fa-chart-bar"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ users }}</h3>

        <p>Etudiants enregistrés</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-alt"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Liste des projets</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="max-height: 600px;">
        <table class="table table-head-fixed text-nowrap table-sm">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Promotion</th>
              <th>Etudiants</th>
              <th>Nombre de vues</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>{{ project.name }}</td>
              <td>{{ project.promotion }}</td>
              <td>
                <ul>
                  {% for user in project.users %}
                  <li>{{ user }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>{{ project.views }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  {% if not_enabled|length > 0 %}
  <div class="col">
    <div class="card card-outline card-orange">
      <div class="card-header">
        Utilisateurs à valider
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for user in not_enabled %}
          <li class="list-group-item"><b>{{ user }}</b><button class="btn btn-success float-right enableUser" data-id="{{user.id}}">Valider</button></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div class="row">
  {% for project in projects %}
  <div class="col">
    <div class="card card-outline card-primary">
      <div class="card-header">
        {{ project.name }}
      </div>
      <div class="card-body">
        <img src="{{ asset('uploads/thumbnails/' ~ project.thumbnail) }}" alt="Image de présentation du projet" class="card-img-top">
        {{ project.shortDescription }}
      </div>
      <div class="card-footer">
        <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-info">Modifier la fiche projet</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-notice">
    <p class="lead">Tu n'as pas encore de projet enregistré. En <a href="{{ path('project_new') }}">créer</a> un ?</p>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
