{% extends 'base.html.twig' %}

{% block body %}
<section class="mt-3">
  <h1 class="display">PROJETS PEDAGOGIQUES</h1>
  <p class="lead">Projets des Classes Préparatoires</p>
</section>
<div id="global_container">
  <div class="row d-flex align-items-stretch">
    <p>Résultat(s) de la recherche : {{search}}</p>
    {% for project in projects %}
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
      <div class="card unselectable">
        <div class="banner">
          <img style="pointer-events:none;" src="{{ asset('elec.png') }}" />
          {# <img src="{{ asset('uploads/thumbnails/' ~ project.thumbnail) }}" /> #}
        </div>
        <h2 class="name">{{ project.name }}</h2>
        <div class="title">{{ project.users|users }}</div>
        <div class="actions">
          <div class="follow-info">
            <h2>
              <a href="#">
                <span>{{ project.cost }}€</span>
                <small>Coût estimé</small>
              </a>
            </h2>
            <h2>
              <a href="#">
                <span>{{ project.views }}&nbsp;<i class="fas fa-eye"></i></span>
                <small>Vues</small>
              </a>
            </h2>
          </div>
          <div class="follow-btn">
            <button class="active"><a href="{{ path('project_show', {id: project.id}) }}" target="_blank">Page du projet</a></button>
          </div>
        </div>
        <div class="desc">
          {{ project.shortDescription }}
        </div>
      </div>
    </div>
    {% else %}
    <div class="alert alert-warning">
      <p>Aucun résulat pour cette recherche. Néanmoins, nous avons sélectionné pour vous 2 autres projets, au hasard: </p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="https://kit.fontawesome.com/ebc72dbf59.js" crossorigin="anonymous"></script>
{% endblock %}
