{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block stylesheets %}
<style>
*  { color:#000; }
hr { margin: 10px 0; }
div.global_container {  }
div.card { margin-top:65px; }
h1#project_name {  }
p#users { color:grey;font-size:12px; }
div.card_footer a { font-size:40px;margin:0 10px; }
div.card_footer a:hover { cursor:pointer; }
#redirection_links { margin:10px 0; }
div#inline { dsplay:flex;flex-direction:row; }
.menu { display: flex;justify-content: center;list-style:none; }
.menu a span:first-child { display: inline-block;padding: 30px; }
.menu a { display: block;position: relative;overflow: hidden; }
.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.menu a span { transition: transform 0.2s ease-out; }
.menu a:hover span:first-child { transform: translateY(100%); }
.menu a:hover span:last-child { transform: none; }
</style>
{% endblock %}


{% block body %}
    <div class="global_container">
        <div class="card">
            <h5 class="card-header">{{ project.name }} | {{ project.createdAt ? project.createdAt|date('Y-m-d') : '' }}</h5>
            <div class="card-body">
                <p id="users">{{ project.users|users }}</p>
                <p class="card-text">{{ project.description|raw }}</p>
                <hr>
                <div class="card_footer">
                    {# <a class="github_link_button" href="{{ project.githubUrl }}" target="_blank"><i class="fab fa-github"></i></a> #}
                    <ul class="menu">
                        <li>
                            <a href="#0">
                                <span>
                                    <i class="fab fa-github"></i>
                                </span>
                                <span><i class="fas fa-external-link-alt"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <span>
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span>{{ project.views }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <span>
                                    <i class="fas fa-euro-sign"></i>   
                                </span>
                                <span>{{ project.cost }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="redirection_links">
            <a class="btn btn-primary" href="{{ path('project_index') }}">back to list</a>
            <a class="btn btn-primary" href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
        </div>
    </div>
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
<script src="https://kit.fontawesome.com/ebc72dbf59.js" crossorigin="anonymous"></script>
{% endblock %}