{% extends 'base.html.twig' %}

{% block title %}Plateforme projets - ESEO | {{project.name}}{% endblock %}

{% block stylesheets %}
<style>
.menu { display: flex;justify-content: center;list-style:none;margin:0;padding:0; }
.menu a span:first-child { display: inline-block;padding: 20px; }
.menu a { display: block;position: relative;overflow: hidden; }
.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.menu a span { transition: transform 0.2s ease-out; min-width: 125px;}
.menu a:hover span:first-child { transform: translateY(100%); }
.menu a:hover span:last-child { transform: none; }
#repo_github { color:#000;text-decoration:underline;font-weight:normal; }
</style>
{% endblock %}


{% block body %}
<div class="row">
  <div class="col-md-8 col-lg-8">
    <div class="card p-0">
      <img src="{{ asset('elec.png') }}" alt="Image de présentation du projet" class="img-card-top img-fluid">
      <div class="card-header">
        <h3 class="card-title">
          {{ project.name }}
        </h3>
      </div>
      <div class="card-body">
        <div class="card-text">{{ project.description|raw }}</div>
        {% if project.githubUrl is not empty %}
        <hr>
        <p>
          Les étudiants de ce projet ont mis à disposition leur réalisation sur Github.<br>
          <span style="font-weight:bold;">
            Code source: <a id="repo_github" target="_blank" href="{{ project.githubUrl }}">Dépôt Github</a>
          </p>
          {% endif %}
      </div>
      <div class="card-footer" style="background-color: #FFF; font-size: 20px;">
        <ul class="menu justify-content-around">
          <li>
            <a href="#0">
              <span><i class="fas fa-eye"></i></span>
              <span>{{ project.views }} vues</span>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><i class="fas fa-euro-sign"></i></span>
              <span>{{ project.cost }} €</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xl-4">
    <div class="row">
      <h5>AUTEURS</h5>
      <hr>
      {% for user in project.users %}
      <div class="card m-1">
        <div class="card-body">
          <div class="row">
            <div class="col-2 border-end border-3">
                {{ user|avatar }}
            </div>
            <div class="col-10">
              <div class="row p-1">
                <div class="row">
                  <p class="h5">{{ user }}</p>
                  {% if user.linkedInUrl %}
                  <a href="{{ user.linkedInUrl }}" class="btn btn-primary w-50" title="Profil LinkedIn de {{user}}"><i class="fab fa-linkedin"></i> LinkedIn</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-2">
      <h5>PROMOTION</h5>
      <hr>
      <p>{{ project.promotion }}</p>
    </div>
    <div class="row">
      <h5>COÛT ESTIMÉ</h5>
      <hr>
      <p> {{ project.cost }} €</p>
    </div>
    <div class="row">
      <h5>DATE DE PUBLICATION</h5>
      <hr>
      <p> {{ project.createdAt|date('d/m/Y') }}</p>
    </div>
  </div>
</div>
<div class="mt-5 row">
  <a class="btn btn-primary" href="{{ path('project_index') }}">Retour à la liste des projets</a>
</div>
  {% endblock %}
